body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}
.main {
  width: 100%;
  height: 100vh;
}
.searchDiv {
  background-color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 600px;
}
.searchDivRes {
  background-color: white;
  position: absolute;
  top: 10%;
  left: 20%;
  min-width: 700px;
  z-index: 3;
}
.upperSearchDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.listContainer {
  background-color: white;
  position: absolute;
  top: 20vh;
  left: 40%;
  transform: translate(-50%, 0);
  min-width: 720px;
  z-index: 2;
}
#listRes {
  z-index: 3;
}
input {
  min-width: 400px;
  height: 2.4rem;
  margin: 5px;
  border-radius: 5px;
  padding: 4px;
}

li {
  cursor: pointer;
}
li:hover {
  background-color: rgb(212, 207, 207);
  color: black;
}

.btn {
  background-color: #204080;
  color: white;
margin-bottom: 6px;

}

a {
  text-decoration: none;
  color: #333;
}

@media (max-width: 620px) {
  .searchDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
