body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
}
.main {
  width: 100%;
  height: 100vh;
}
.searchDiv {
  background-color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 600px;
}
.searchDivRes {
  background-color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  width: fit-content;
  z-index: 3;
}
img {
  border-top-right-radius: 6%;
  border-bottom-left-radius: 6%;
  margin-right: 1rem;

}

.upperSearchDiv {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: flex-end;
}
.listContainer {
  background-color: white;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 720px;
  z-index: 2;
}

.pDiv {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px #333 solid;
  height: 4rem;
}
.pDiv p {
  height: 1rem;
  margin: 5px;
  text-align: left;
  font-size: 0.87rem;
}
.pDiv:hover {
  background-color: rgb(219, 213, 213);
}
.staticPDiv {
  display: grid;
  grid-template-columns: auto auto;
  border-bottom: 1px #333 solid;
  height: 4rem;
}
.staticPDiv p {
  height: 1rem;
  margin: 5px;
  text-align: left;
  font-size: 0.87rem;
}
.staticPDiv:hover {
  background-color: rgb(219, 213, 213);
}

#listRes {
  z-index: 3;
  box-shadow: black 3px 3px 3px;
  background-color: rgb(197, 196, 194);
}
input {
  min-width: 400px;
  height: 2.4rem;
  margin: 5px;
  border-radius: 5px;
  padding: 4px;
}

#btnMain,
#btnRes {
  background-color: #204080;
  color: white;
  margin-bottom: 6px;
}

a {
  text-decoration: none;
  color: #333;
}
form {
  margin-top: 1rem;
  margin-bottom: 0px;
}

.personName {
  font-weight: bold;
  text-transform: capitalize;
}

@media (max-width: 760px) {
  .searchDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .upperSearchDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .listContainer{
  
    width: fit-content;
    margin-top: 3rem;
  }
  #staticList{
    
    width: fit-content;
    margin: auto;
  }
  #btnRes{
    margin-top: 1rem;
  }
  #searchRes{
    margin-top: 1rem;
  }
}